.body {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
    display: none;
}

.game-area {
    background-color: skyblue;
    width: 100%;
    height: 98vh;
    margin: 0;
}

.game-over {
    position: absolute;
    width: 50%;
    background-color: brown;
    top: 10rem;
    left: 25%;
    height: 50%;
    font-size: 50px;    
    z-index: 1;
    text-align: center;
    padding: 30px;
}

.game-start {
    position: absolute;
    background-color: burlywood;
    width:50%;
    left: 25%;
    top: 10rem;
    height: 50%;
    text-align: center;
    font-size: 50px;    

}

.game-score {
    position: absolute;
    width: 25%;
    left: 38%;
    font-size: 50px;
    font-weight: bold;
    color: gray;
    text-align: center;
    height: 7%;
}

.wizard {
    position: absolute;
    width: 82px;
    height: 100px;

    background-image: url(./images/wizard.png);
    background-size: cover;
}

.cloud {
    z-index: 0;
    position: absolute;
    width: 308px;
    height: 200px;
    background-image: url(./images/cloud.png);
    background-size: cover;
}